internship/assignment-2/n8n-workflows/daily-quote-workflow.json
{
  "name": "Daily Quote Automation - Nexium",
  "nodes": [
    {
      "parameters": {
        "rule": "0 9 * * *",
        "timezone": "Asia/Karachi"
      },
      "id": "cron-trigger",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://nexium-muhammad-abdul-raheem-khan-assign2.vercel.app/api/webhook/quotes",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "trigger": "daily_inspiration",
            "category": "motivation",
            "count": 1
          }
        }
      },
      "id": "webhook-request",
      "name": "Get Daily Quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "={{ $json.success }}",
            "operation": "equal",
            "rightValue": true
          }
        }
      },
      "id": "success-check",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "text": "🌟 Daily Inspiration\n\n{{ $json.data.quotes[0].text }}\n\n- {{ $json.data.quotes[0].author }}\n\nCategory: {{ $json.data.quotes[0].category }}\nGenerated: {{ $json.data.timestamp }}\n\n#DailyInspiration #Nexium #Automation",
        "options": {}
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 200]
    },
    {
      "parameters": {
        "content": "🚨 **Daily Quote System Error**\n\nThe daily quote automation failed to retrieve a quote.\n\nError: {{ $json.message || 'Unknown error' }}\nTime: {{ new Date().toISOString() }}\n\nPlease check the webhook system.",
        "options": {}
      },
      "id": "error-message",
      "name": "Error Notification",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [900, 400]
    },
    {
      "parameters": {
        "authentication": "generic",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "text": "={{ $json.formatted_text }}",
            "channel": "#daily-quotes",
            "username": "Quote Bot",
            "icon_emoji": ":star2:"
          }
        }
      },
      "id": "slack-success",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "authentication": "generic",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "text": "={{ $json.formatted_text }}",
            "channel": "#alerts",
            "username": "Error Bot",
            "icon_emoji": ":warning:"
          }
        }
      },
      "id": "slack-error",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Daily 9AM Trigger": {
      "main": [
        [
          {
            "node": "Get Daily Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Quote": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Notification": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
      "createdAt": "2025-07-15T12:00:00.000Z",
    "updatedAt": "2025-07-15T12:00:00.000Z",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1"
} 